* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#__next {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
